@(indexes:Array[Int])

<!DOCTYPE html>

<html>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="https://fb.me/react-0.13.3.js"></script>

    <script src="@routes.Assets.versioned("javascripts/gibberish.js")" defer ></script>

    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<div id="renderme"></div>



</body>
</html>