@(indexes:Array[Int])

<!DOCTYPE html>

<html>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/main.css")" />

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js" ></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>


    <script src="@routes.Assets.versioned("javascripts/xhrexample.js")" ></script>

    <meta name="referrer" content="no-referrer">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<h1>AJAX Gibberish getter and poster</h1>

<div class="input-group">
<label>Server</label>
http://<input type="text" id="i_server" />/gibberish
</div>

<h3>Get gibberish</h3>

<div class="input-group">
<label>Number</label>
<input type="number" id="i_howmany" />
<button onclick="javascript: getGibberish()">Get gibberish</button>
</div>

<h3>Post gibberish</h3>
<button onclick="javascript: postGibberish()">Post gibberish</button>
</div>



</body>
</html>